* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: rgb(55, 55, 55);
}

.img {
  width: 100%;
  height: 5rem;
}

.main {
  position: relative;
  background-image: url(img/background.jpg);
  width: 50%;
  min-width: 400px;
  margin: 60px auto 60px auto;
  height: 500px;
  background-position: center;
  background-size: cover;
}

section.input-container {
}

.input-zone {
  text-align: center;
}

.form-container {
  width: 100%;
}

.form-container input {
  background-color: #ffffff;
  border: 0;

  width: 80%;
  height: 2.5rem;
  max-width: 400px;
  min-width: 100px;
  font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 1.25rem;
  border-radius: 8px;
}

.form-container button {
  background: #ff4742;
  border: 1px solid #ff4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: nunito, roboto, proxima-nova, 'proxima nova', sans-serif;
  font-size: 16px;
  font-weight: 800;
  /* line-height: 16px; */
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin: 0.3125rem;
}

.form-container button:hover,
.form-container button:active {
  background-color: initial;
  background-position: 0 0;
  color: #ff4742;
}

.form-container button:active {
  opacity: 0.5;
}

/*! LIST / */

.list-container {
  width: 80%;
  max-width: 500px;
  min-width: 300px;
  height: 70%;
  background: rgba(255, 255, 255, 0.424);
  border-radius: 10px;
  margin: 30px auto 30px auto;
}
